Repository ChocolateNao/rs-school-react: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --max-warnings 0, npx prettier --check

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,html,css}": "npx eslint --max-warnings 0",
  "*.json": "npx prettier --check"
}

fix: allow class components and console error
  .eslintrc.json
Due: npx prettier --check

feat: add loading spinner
  src/components/Loading.css
  src/components/Loading.tsx
Due: npx eslint --max-warnings 0

feat: add character interface
  src/resources/Character.interface.ts
Due: npx eslint --max-warnings 0

init: add pre-commit hook
  .husky/pre-commit
Due: none

fix: change html css rules
  .lintstagedrc.json
Due: npx prettier --check

fix: edit styles for loader
  src/components/Loading.css
  src/components/Loading.tsx
Due: npx eslint --max-warnings 0

feat: implement custom error boundary
  src/components/ErrorBoundary.css
  src/components/ErrorBoundary.tsx
Due: npx eslint --max-warnings 0

feat: add button component
  src/components/Button.css
  src/components/Button.tsx
Due: npx eslint --max-warnings 0

feat: add dummy error component
  src/components/Error.tsx
Due: npx eslint --max-warnings 0

feat: add main logic
  src/App.tsx
  src/components/CharacterCard.tsx
  src/components/Search.tsx
Due: npx eslint --max-warnings 0

feat: apply style to component
  src/App.css
  src/components/CharacterCard.css
  src/components/Search.css
  src/components/Search.tsx
  src/index.css
Due: npx eslint --max-warnings 0

fix: fix loading error
  src/App.tsx
Due: npx eslint --max-warnings 0

fix: change page title
  index.html
Due: npx eslint --max-warnings 0

fix: fix loading on first opening
  src/App.tsx
Due: npx eslint --max-warnings 0

fix: add husky install on "npm i"
  .husky/pre-commit
  package.json
Due: npx prettier --check

fix: fix data loading on page opening
  src/App.tsx
Due: npx eslint --max-warnings 0

feat: add reset styles
  src/index.css
Due: npx eslint --max-warnings 0

refactor: use stying class & migration to fc
  src/components/Button.css
  src/components/Button.tsx
Due: npx eslint --max-warnings 0

fix: change reload link
  src/components/ErrorBoundary.tsx
Due: npx eslint --max-warnings 0

feat: add import sorting
  .eslintrc.json
Due: npx prettier --check

feat: add import sorting plugin
  package-lock.json
  package.json
Due: npx prettier --check

refactor: move list styles to its own component
  src/App.css
  src/components/CharacterList.css
Due: npx eslint --max-warnings 0

refactor: sort imports
  vite.config.ts
Due: npx eslint --max-warnings 0

refactor: migrate to functional component
  src/components/Button.tsx
  src/components/CharacterCard.tsx
  src/components/CharacterList.tsx
  src/components/DummyError.tsx
  src/components/Error.tsx
  src/components/ErrorBoundary.tsx
  src/components/Loading.tsx
  src/components/Search.tsx
  src/main.tsx
Due: npx eslint --max-warnings 0

feat: add a package
  package-lock.json
  package.json
Due: npx prettier --check

refactor: a distict fallback component
  src/components/ErrorBoundary.tsx
  src/components/ErrorFallback.css
  src/components/ErrorFallback.tsx
Due: npx eslint --max-warnings 0

refactor: a distinct header component
  src/App.css
  src/components/Header.css
  src/components/Header.tsx
Due: npx eslint --max-warnings 0

feat: add h1 header
  src/components/Header.css
  src/components/Header.tsx
Due: npx eslint --max-warnings 0

feat: switch to jikan api
  src/components/AnimeCard.css
  src/components/AnimeCard.tsx
  src/components/AnimeList.css
  src/components/AnimeList.tsx
  src/components/CharacterCard.tsx
  src/components/CharacterList.tsx
  src/resources/Anime.interface.ts
  src/resources/Pagination.interface.ts
Due: npx eslint --max-warnings 0

feat: add router
  src/main.tsx
Due: npx eslint --max-warnings 0

feat: implement routing
  src/components/Search.tsx
Due: npx eslint --max-warnings 0

feat: add styles to the component
  src/components/Main.css
Due: npx eslint --max-warnings 0

refactor: rename interface
  src/resources/Pagination.interface.ts
Due: npx eslint --max-warnings 0

refactor: wrap logic into Main component
  src/App.tsx
Due: npx eslint --max-warnings 0

feat: set up a router
  src/main.tsx
Due: npx eslint --max-warnings 0

feat: migrate to jikan api
  src/components/AnimeCard.tsx
  src/components/AnimeDetails.css
  src/components/AnimeDetails.tsx
  src/components/AnimeList.tsx
  src/resources/Anime.interface.ts
Due: npx eslint --max-warnings 0

feat: add data fetching for addotionals
  src/api/fetchCalls.ts
Due: npx eslint --max-warnings 0

docs: update readme
  README.md
Due: none

fix: change styling
  src/components/AnimeCard.css
  src/components/AnimeDetails.css
  src/components/Header.css
  src/components/Pagination.css
Due: npx eslint --max-warnings 0

fix: add synopsis field
  src/resources/Anime.interface.ts
Due: npx eslint --max-warnings 0
