Repository ChocolateNao/rs-school-react: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --max-warnings 0, npx prettier --check

feat: implement pagination
  src/components/Main.css
  src/components/Main.tsx
  src/components/Pagination.tsx
Due: npx eslint --max-warnings 0

fix: fix closing section on section click
  src/components/AnimeDetails.tsx
Due: npx eslint --max-warnings 0

fix: edit list's appearance
  src/components/AnimeCard.tsx
Due: npx eslint --max-warnings 0

feat: add 404 page
  src/components/NotFound.tsx
Due: npx eslint --max-warnings 0

fix: move fetch call to useCallback, fix typos
  src/components/Main.tsx
Due: npx eslint --max-warnings 0

refactor: move error a bit lower
  src/components/Main.tsx
Due: npx eslint --max-warnings 0

fix: add page size limitation desc
  src/components/Pagination.tsx
Due: npx eslint --max-warnings 0

fix: fix loading on empty input
  src/components/Main.tsx
Due: npx eslint --max-warnings 0

refactor: separate interfaces, add prefix
  src/components/AnimeCard.tsx
  src/components/AnimeDetails.tsx
  src/components/AnimeList.tsx
  src/components/Main.tsx
  src/resources/Anime.interface.ts
  src/resources/AnimeDetails.interface.ts
Due: npx eslint --max-warnings 0

refactor: change file structure
  src/App.tsx
  src/components/AnimeCard/AnimeCard.css
  src/components/AnimeCard/AnimeCard.tsx
  src/components/AnimeDetails/AnimeDetails.css
  src/components/AnimeDetails/AnimeDetails.tsx
  src/components/AnimeList/AnimeList.css
  src/components/AnimeList/AnimeList.tsx
  src/components/Button/Button.css
  src/components/Button/Button.tsx
  src/components/DummyError/DummyError.tsx
  src/components/ErrorFallback/ErrorFallback.css
  src/components/ErrorFallback/ErrorFallback.tsx
  src/components/Header/Header.css
  src/components/Header/Header.tsx
  src/components/Loading/Loading.css
  src/components/Loading/Loading.tsx
  src/components/Pagination/Pagination.css
  src/components/Pagination/Pagination.tsx
  src/components/Search/Search.css
  src/components/Search/Search.tsx
  src/main.tsx
  src/pages/Main/Main.tsx
  src/pages/NotFound/NotFound.tsx
  src/shared/ErrorBoundary.tsx
Due: npx eslint --max-warnings 0

refactor: move ErrorBoundary to the individual folder
  src/App.tsx
  src/shared/ErrorBoundary/ErrorBoundary.tsx
Due: npx eslint --max-warnings 0

feat: add testing packages
  package-lock.json
  package.json
Due: npx prettier --check

fix: remove husky hooks from the file itself
  package.json
Due: npx prettier --check

test: set up testing environment
  .eslintignore
  .lintstagedrc.json
  .prettierignore
  __mocks__/fileMock.js
  __mocks__/styleMock.js
  jest.config.cjs
  package-lock.json
  package.json
  src/setupTests.ts
Due: npx eslint --max-warnings 0, npx prettier --check

fix: remove --no-warn-ignored
  .lintstagedrc.json
Due: npx prettier --check

test: add component test
  src/components/ErrorFallback/ErrorFallback.test.tsx
Due: npx eslint --max-warnings 0

fix: typo
  src/components/ErrorFallback/ErrorFallback.test.tsx
Due: npx eslint --max-warnings 0

fix: remove regex
  .lintstagedrc.json
Due: npx prettier --check

feat: update hooks, add pre-push
  .husky/pre-commit
  .husky/pre-push
Due: none

test: add test files
  src/components/AnimeCard/AnimeCard.test.tsx
  src/components/AnimeDetails/AnimeDetails.test.tsx
  src/components/AnimeList/AnimeList.test.tsx
  src/components/Button/Button.test.tsx
  src/components/DummyError/DummyError.test.tsx
  src/components/Header/Header.test.tsx
  src/components/Loading/Loading.test.tsx
  src/components/Pagination/Pagination.test.tsx
  src/components/Search/Search.test.tsx
  src/pages/Main/Main.test.tsx
  src/pages/NotFound/NotFound.test.tsx
  src/shared/ErrorBoundary/ErrorBoundary.test.tsx
Due: npx eslint --max-warnings 0

feat: add search context
  src/shared/context/SearchContext.tsx
Due: npx eslint --max-warnings 0

fix: move the not found case into a component
  src/components/AnimeList/AnimeList.tsx
Due: npx eslint --max-warnings 0

feat: add navigation by clicking on a header
  src/components/Header/Header.tsx
Due: npx eslint --max-warnings 0

refactor: move fetch calls out of the component
  src/api/fetchCalls.ts
  src/components/AnimeDetails/AnimeDetails.tsx
  src/pages/Main/Main.tsx
Due: npx eslint --max-warnings 0

feat: set up context
  src/App.tsx
  src/shared/context/SearchContext.tsx
Due: npx eslint --max-warnings 0

feat: implement global state with context
  src/components/AnimeDetails/AnimeDetails.tsx
  src/components/Search/Search.tsx
  src/pages/Main/Main.tsx
  src/shared/context/SearchContext.tsx
Due: npx eslint --max-warnings 0

refactor: change folder structure
  src/components/AnimeDetails/AnimeDetails.tsx
  src/components/ErrorFallback/ErrorFallback.tsx
  src/components/Header/Header.tsx
  src/components/Pagination/Pagination.tsx
  src/components/Search/Search.tsx
  src/pages/Main/Main.tsx
  src/shared/ui/Button/Button.css
  src/shared/ui/Button/Button.test.tsx
  src/shared/ui/Button/Button.tsx
  src/shared/ui/Loading/Loading.css
  src/shared/ui/Loading/Loading.test.tsx
  src/shared/ui/Loading/Loading.tsx
Due: npx eslint --max-warnings 0

refactor: add barrel imports
  src/components/AnimeCard/index.ts
  src/components/AnimeDetails/index.ts
  src/components/AnimeList/index.ts
  src/components/DummyError/index.ts
  src/components/ErrorFallback/index.ts
  src/components/Header/index.ts
  src/components/Pagination/index.ts
  src/components/Search/index.ts
  src/shared/ErrorBoundary/index.ts
  src/shared/ui/Button/index.ts
  src/shared/ui/Loading/index.ts
Due: npx eslint --max-warnings 0

fix: fix typo
  src/components/AnimeCard/AnimeCard.css
Due: npx eslint --max-warnings 0

refactor: add path aliases
  .eslintrc.json
  src/App.tsx
  src/components/AnimeCard/AnimeCard.tsx
  src/components/AnimeDetails/AnimeDetails.tsx
  src/components/AnimeList/AnimeList.tsx
  src/components/ErrorFallback/ErrorFallback.tsx
  src/components/Header/Header.tsx
  src/components/Pagination/Pagination.tsx
  src/components/Search/Search.tsx
  src/pages/Main/Main.tsx
  src/pages/Main/index.ts
  src/pages/NotFound/index.ts
  src/shared/ErrorBoundary/ErrorBoundary.tsx
  tsconfig.json
  vite.config.ts
Due: npx eslint --max-warnings 0, npx prettier --check

docs: update readme for week 3
  README.md
Due: none

refactor: change filename
  src/api/animeService.ts
  src/components/AnimeDetails/AnimeDetails.tsx
  src/pages/Main/Main.tsx
Due: npx eslint --max-warnings 0

test: make jest understand aliases
  jest.config.cjs
Due: none

refactor: rename loader component
  src/components/AnimeDetails/AnimeDetails.tsx
  src/pages/Main/Main.tsx
  src/shared/ui/Loader/Loader.css
  src/shared/ui/Loader/Loader.tsx
  src/shared/ui/Loader/index.ts
  src/shared/ui/Loading/Loading.test.tsx
  src/shared/ui/Loading/index.ts
Due: npx eslint --max-warnings 0

test: add cleanup after tests
  src/setupTests.ts
Due: npx eslint --max-warnings 0

test: add tests
  src/components/DummyError/DummyError.test.tsx
  src/pages/NotFound/NotFound.test.tsx
  src/shared/ErrorBoundary/ErrorBoundary.test.tsx
  src/shared/ui/Button/Button.test.tsx
  src/shared/ui/Loader/Loader.test.tsx
Due: npx eslint --max-warnings 0

test: edit config to not gather branch coverage
  jest.config.cjs
Due: none

refactor: move export keyword
  src/api/animeService.ts
  src/shared/context/SearchContext.tsx
Due: npx eslint --max-warnings 0

fix: set default search params
  src/components/Pagination/Pagination.tsx
Due: npx eslint --max-warnings 0

refactor: remove unused variable
  src/components/Search/Search.tsx
Due: npx eslint --max-warnings 0

Path conditions:
  npx eslint --max-warnings 0: any of: *.{js,jsx,ts,tsx,html,css}
  npx prettier --check: any of: *.json
